body {
  font-family: "Source Sans Pro", sans-serif;
  font-family: "Roboto", sans-serif;
}

.overlay {
  left: 0;
  top: 0;
  width: 100%;
  position: absolute;
  height: 100%;
}

::placeholder {
  font-family: "Roboto Light";
  font-size: 14px;
}

.border-top,
.border-bottom,
.border-right,
.border-left {
  border-color: #d9dbdc !important;
}

p {
  font-family: "Roboto Light";
}

.p-stlye {
  line-height: 28px;
  margin: 0;
}

a {
  transition: all 0.3s;
  color: #fff !important;
}

h1 {
  font-size: 50px;
}

h2, h3, h4 {
  color: #1f1f1f;
}

ul {
  list-style: none;
  padding: 0;
}

.trans {
  transition: all 0.3s;
}

.h-style {
  margin-bottom: 20px;
  font-size: 2.3rem;
  color: #636363;
  text-transform: uppercase;
}
@media (max-width: 767.98px) {
  .h-style {
    font-size: 2.1rem;
  }
}

.p-style {
  font-weight: 300;
  font-size: 17px;
  line-height: 1.8;
  color: #8a8a8a;
}

.customB {
  border: 2px solid #fb414e;
  color: #fff;
  font-family: "Roboto Regular";
  margin-top: 58px;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  width: 190px;
  height: 50px;
  text-transform: capitalize;
}
.customB:active, .customB:hover {
  background-color: #fb414e;
}

.social i {
  font-size: 16px;
  width: 28px;
  line-height: 28px;
  border-radius: 50%;
  cursor: pointer;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1330px;
  }
}

.h-fontB {
  font-family: "Source Sans Pro";
  font-weight: bold;
}

.chevron {
  position: fixed;
  z-index: 20;
  right: 30px;
  bottom: 50px;
  background-color: #fb414e;
  color: #fff;
  padding: 11px 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: none;
  opacity: 0.8;
}
.chevron:hover, .chevron:active {
  opacity: 1;
}

.navbar {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 53px !important;
  padding-bottom: 53px !important;
}
@media (max-width: 575.98px) {
  .navbar {
    padding-top: 20px !important;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .navbar .container {
    display: block;
  }
}
.navbar .container .navbar-brand {
  font-size: 0;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .navbar .container .navbar-brand {
    width: 100%;
    text-align: center;
  }
}
.navbar .container .navbar-brand img {
  margin-top: -2px;
  cursor: pointer;
}
@media (max-width: 767.98px) {
  .navbar .container .navbar-brand img {
    margin-top: 3px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .navbar .container div {
    text-align: center;
    padding-top: 10px;
  }
}
@media (max-width: 767.98px) {
  .navbar .container div ul {
    background-color: #4b4b4be3;
    padding: 20px 30px;
    margin-top: 20px;
    z-index: 10;
    position: relative;
  }
}
.navbar .container div ul li {
  padding: 12px 29.7px;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
@media (max-width: 767.98px) {
  .navbar .container div ul li {
    padding: 15px 0;
  }
}
.navbar .container div ul li a {
  position: relative;
  cursor: pointer;
}
.navbar .container div ul li a:after {
  background-color: #fb414e;
  width: 94.1%;
  height: 2px;
  position: absolute;
  left: 0;
  margin-left: 2px;
  transition-property: background, bottom, opacity;
  transition-duration: 0.2s;
  content: "";
  bottom: 3px;
  opacity: 0;
}
.navbar .container div ul li.active a:after,
.navbar .container div ul li a:hover:after {
  bottom: -2px;
  opacity: 1;
}
.navbar .container div ul li a {
  padding-bottom: 4px;
}

.headerCont {
  height: 1165px;
}
.headerCont .header {
  background-image: url(../imgs/bg.jpg);
  height: 830px;
  background-position: center;
  background-size: cover;
  color: #fff;
}
.headerCont .header .upper {
  text-align: center;
}
.headerCont .header .upper h1 {
  padding-top: 204px;
  width: 100%;
  left: 0;
  font-size: 60px;
  font-family: "Source Sans Pro Black";
  margin-bottom: 0;
  color: #fff;
}
@media (max-width: 1199.98px) {
  .headerCont .header .upper h1 {
    padding-top: 230px;
    font-size: 45px;
  }
}
@media (max-width: 991.98px) {
  .headerCont .header .upper h1 {
    font-size: 35px;
  }
}
@media (max-width: 767.98px) {
  .headerCont .header .upper h1 {
    padding-top: 220px;
  }
}
@media (max-width: 575.98px) {
  .headerCont .header .upper h1 {
    padding-top: 170px;
    font-size: 31px;
  }
}
.headerCont .header .upper > p {
  width: 648px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  margin-top: 46px;
  line-height: 28px;
  margin-bottom: 0;
}
@media (max-width: 991.98px) {
  .headerCont .header .upper > p {
    width: auto;
    font-size: 14px;
  }
}
.headerCont .header .upper button {
  margin-top: 57px;
}
.headerCont .header .upper button:first-of-type {
  margin-right: 26px;
  margin-left: 3px;
}
@media (max-width: 575.98px) {
  .headerCont .header .upper button:first-of-type {
    margin: 57px auto 0;
    display: block;
  }
}
@media (max-width: 575.98px) {
  .headerCont .header .upper button:last-of-type {
    margin: auto;
    margin-top: 20px;
    display: block;
  }
}
.headerCont .header .boxes {
  padding-top: 160px;
}
@media (max-width: 575.98px) {
  .headerCont .header .boxes {
    padding-top: 70px;
  }
}
.headerCont .header .boxes .col-xl {
  padding: 0;
}
@media (min-width: 1200px) {
  .headerCont .header .boxes .col-xl {
    width: 420px !important;
    max-width: 420px !important;
  }
}
@media (min-width: 1200px) and (max-width: 1330px) {
  .headerCont .header .boxes .col-xl {
    max-width: 380px !important;
    width: 380px !important;
  }
}
.headerCont .header .boxes .col-xl.md {
  margin-left: auto;
  margin-right: auto;
}
.headerCont .header .boxes .col-xl .box {
  width: 100% !important;
  cursor: pointer;
  height: 420px;
  padding: 77px 57px 70px;
  background-color: #202b30;
  transition: all 0.3s ease-in-out;
}
.headerCont .header .boxes .col-xl .box:hover {
  background-color: #fb414e;
}
@media (max-width: 1199.98px) {
  .headerCont .header .boxes .col-xl .box {
    margin-bottom: 20px;
  }
}
@media (max-width: 767.98px) {
  .headerCont .header .boxes .col-xl .box {
    height: 410px;
  }
}
@media (max-width: 575.98px) {
  .headerCont .header .boxes .col-xl .box {
    padding: 30px;
  }
}
.headerCont .header .boxes .col-xl .box h3 {
  font-size: 20px;
  font-family: "Roboto Medium";
  margin-top: 51px;
  position: relative;
  margin-bottom: 0;
  color: #fff;
}
.headerCont .header .boxes .col-xl .box h3:after {
  content: "";
  bottom: -32px;
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: #fff;
  left: 0;
  margin-left: 1px;
}
.headerCont .header .boxes .col-xl .box p {
  margin-top: 56px;
  line-height: 28px;
  margin-bottom: 0;
}
.headerCont .header .boxes .col-xl .box.sec h3, .headerCont .header .boxes .col-xl .box.last h3 {
  margin-top: 50px;
}
@media (max-width: 575.98px) {
  .headerCont .header .boxes .col-xl .box.sec h3, .headerCont .header .boxes .col-xl .box.last h3 {
    margin-top: 40px;
  }
}

.services {
  padding: 135px 0 134px;
}
@media (max-width: 1199.98px) {
  .services {
    padding-top: 950px;
  }
}
@media (max-width: 767.98px) {
  .services {
    padding-top: 940px;
    padding-bottom: 100px;
  }
}
@media (max-width: 575.98px) {
  .services {
    padding-top: 820px;
    padding-bottom: 70px;
  }
}
@media (max-width: 480px) {
  .services {
    padding-top: 900px;
  }
}
@media (max-width: 380px) {
  .services {
    padding-top: 900px;
  }
}
@media (max-width: 330px) {
  .services {
    padding-top: 980px;
  }
}
@media (max-width: 280px) {
  .services {
    padding-top: 1020px;
  }
}
@media (min-width: 1200px) {
  .services .container {
    padding-right: 5px;
    padding-left: 5px;
  }
}
.services .container > span {
  color: #fb414e;
  font-family: "Roboto";
  font-weight: bold;
}
.services .container h2 {
  color: #1f1f1f;
  margin: 9px auto 40px;
  font-size: 60px;
}
.services .container h2 span {
  color: #fb414e;
}
@media (min-width: 1200px) {
  .services .container h2 {
    padding-left: 4px;
  }
}
@media (max-width: 767.98px) {
  .services .container h2 {
    font-size: 40px;
    margin-top: 20px;
  }
}
@media (max-width: 370px) {
  .services .container h2 {
    font-size: 36px;
  }
}
@media (max-width: 280px) {
  .services .container h2 {
    font-size: 32px;
  }
}
.services .container p {
  color: #838383;
  width: 682px;
  margin: auto;
  line-height: 28px;
}
@media (max-width: 991.98px) {
  .services .container p {
    width: 640px;
  }
}
@media (max-width: 767.98px) {
  .services .container p {
    width: auto;
  }
}
.services .container .servicesBoxes {
  padding-top: 122px;
}
@media (max-width: 767.98px) {
  .services .container .servicesBoxes {
    padding-top: 80px;
  }
}
.services .container .servicesBoxes h3 {
  font-family: "Source Sans Pro";
  font-weight: bold;
  font-size: 32px;
  margin: 23px auto 23px;
}
@media (max-width: 767.98px) {
  .services .container .servicesBoxes h3 {
    margin: 14px auto 20px;
    font-size: 30px;
  }
}
.services .container .servicesBoxes p {
  width: 305px;
  margin-top: 0;
}
@media (max-width: 767.98px) {
  .services .container .servicesBoxes p {
    margin-bottom: 64px;
    width: auto;
  }
}
.services .container .servicesBoxes .fR {
  margin-bottom: 64px;
}
@media (min-width: 1200px) {
  .services .container .servicesBoxes .row > div {
    max-width: 26%;
  }
}
.services .container .servicesBoxes .md {
  margin-right: auto;
  margin-left: auto;
}

.works-up {
  padding: 115px 0;
  background-color: #202b30;
  color: #fff;
}
@media (max-width: 1199.98px) {
  .works-up {
    padding: 100px 0;
  }
}
@media (max-width: 991.98px) {
  .works-up {
    padding: 90px 0;
  }
}
@media (max-width: 767.98px) {
  .works-up {
    padding: 80px 0;
  }
}
@media (max-width: 575.98px) {
  .works-up {
    padding: 70px 0;
  }
}
.works-up .row h2 {
  font-size: 48px;
  margin-top: 7px;
  margin-bottom: 40px;
  color: #fff;
}
@media (max-width: 575.98px) {
  .works-up .row h2 {
    font-size: 35px;
  }
}
@media (min-width: 992px) {
  .works-up .row p {
    padding-right: 50px;
  }
}
@media (max-width: 575.98px) {
  .works-up .row p {
    font-size: 15px;
  }
}
.works-up .row button {
  border-color: #fff;
  margin-bottom: 17px;
  margin-top: 56px;
}
.works-up .row button:hover {
  border-color: #fb414e;
}
.works-up .row img {
  margin-right: 40px;
  float: right;
}
@media (max-width: 1199.98px) {
  .works-up .row img {
    width: 48%;
    height: 350px;
    float: none;
    margin: 0;
  }
}
@media (max-width: 767.98px) {
  .works-up .row img {
    display: block;
    width: 100%;
  }
}
.works-up .row .colorfulDiv {
  height: 370px;
  width: 255px;
  background-color: #fb414e;
  float: right;
}
@media (max-width: 1199.98px) {
  .works-up .row .colorfulDiv {
    height: 350px;
    width: 48%;
  }
}
@media (max-width: 767.98px) {
  .works-up .row .colorfulDiv {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
}
@media (max-width: 1199.98px) {
  .works-up .row .col-xl:last-of-type {
    padding-top: 30px;
  }
}

.works-down {
  padding: 135px 0 146px;
  background-color: #f8f8f8;
  overflow: hidden;
}
@media (max-width: 1199.98px) {
  .works-down {
    padding: 100px 0;
  }
}
@media (max-width: 991.98px) {
  .works-down {
    padding: 90px 0;
  }
}
@media (max-width: 767.98px) {
  .works-down {
    padding: 80px 0;
  }
}
@media (max-width: 575.98px) {
  .works-down {
    padding: 70px 0;
  }
}
@media (min-width: 1200px) {
  .works-down .sec > div {
    max-width: 270px;
  }
}
.works-down .sec > div:first-of-type, .works-down .sec > div:nth-of-type(3) {
  margin-right: 59px;
}
@media (max-width: 1300px) {
  .works-down .sec > div:first-of-type, .works-down .sec > div:nth-of-type(3) {
    margin-right: 30px;
  }
}
@media (max-width: 1199.98px) {
  .works-down .sec > div:first-of-type, .works-down .sec > div:nth-of-type(3) {
    margin-right: 0;
  }
}
@media (max-width: 767.98px) {
  .works-down .sec > div:nth-of-type(3) {
    margin-bottom: 65px;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .works-down .sec > div {
    padding-right: 25px;
  }
}
.works-down .sec h4 {
  font-size: 20px;
  color: #1f1f1f;
  margin-bottom: 17px;
}
.works-down .sec P {
  margin-bottom: 65px;
  color: #838383;
  line-height: 28px;
}
.works-down .right {
  width: 590px;
  margin-left: 13px;
}
.works-down .right h2 {
  color: #1f1f1f;
  font-size: 48px;
  margin-bottom: 42px;
  margin-top: -6px;
}
@media (max-width: 767.98px) {
  .works-down .right h2 {
    font-size: 40px;
  }
}
@media (max-width: 575.98px) {
  .works-down .right h2 {
    font-size: 30px;
  }
}
.works-down .right p:first-of-type {
  margin-bottom: 30px;
}
.works-down .right p {
  color: #838383;
  line-height: 28px;
}
@media (max-width: 1199.98px) {
  .works-down .right {
    width: 95%;
  }
}
@media (max-width: 1199.98px) {
  .works-down .on {
    order: 2;
  }
}
@media (max-width: 1199.98px) {
  .works-down .tw {
    order: 1;
    margin-bottom: 80px;
  }
}

.portfolio {
  padding: 130px 0 117px;
}
@media (max-width: 1199.98px) {
  .portfolio {
    padding: 100px 0;
  }
}
@media (max-width: 991.98px) {
  .portfolio {
    padding: 90px 0 20px;
  }
}
@media (max-width: 767.98px) {
  .portfolio {
    padding: 80px 0 20px;
  }
}
@media (max-width: 575.98px) {
  .portfolio {
    padding: 70px 0 20px;
  }
}
.portfolio .shuffle {
  margin-bottom: 50px;
}
@media (max-width: 575.98px) {
  .portfolio .shuffle {
    margin-bottom: 15px;
  }
}
.portfolio .shuffle li {
  display: inline-block;
  color: #a4a4a4;
  font-family: "Source Sans Pro Regular";
  margin-right: 66px;
  cursor: pointer;
}
.portfolio .shuffle li.active, .portfolio .shuffle li:hover {
  color: #1f1f1f;
  border-bottom: 1px solid #1f1f1f;
}
@media (max-width: 991.98px) {
  .portfolio .shuffle li {
    margin-right: 40px;
  }
}
@media (max-width: 767.98px) {
  .portfolio .shuffle li {
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media (max-width: 575.98px) {
  .portfolio .shuffle li {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
@media (max-width: 1199.98px) {
  .portfolio #container {
    margin: 0 20px;
    padding: 0 20px;
  }
}
@media (min-width: 1367px) {
  .portfolio #container {
    margin: 0 40px;
    padding: 0 40px;
  }
}
.portfolio #container .mix {
  margin-right: 12px;
  margin-bottom: 12px;
  display: none;
}
@media (min-width: 1300px) {
  .portfolio #container .mix {
    max-width: 332.5px !important;
    height: 334px !important;
  }
}
.portfolio #container .mix:last-child, .portfolio #container .mix:nth-child(4) {
  margin-right: 0;
}
.portfolio #container .mix img {
  width: 100%;
  height: 100%;
}
@media (max-width: 1360px) {
  .portfolio #container .mix {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
@media (min-width: 992px) and (max-width: 1360px) {
  .portfolio #container .mix {
    border-right: 3px solid #fff;
  }
}
@media (min-width: 1367px) {
  .portfolio #container .mix {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

.about-up {
  padding-bottom: 126px;
}
@media (max-width: 1199.98px) {
  .about-up {
    padding: 100px 0;
  }
}
@media (max-width: 991.98px) {
  .about-up {
    padding: 90px 0;
  }
}
@media (max-width: 767.98px) {
  .about-up {
    padding: 80px 0;
  }
}
@media (max-width: 575.98px) {
  .about-up {
    padding: 70px 0;
  }
}
.about-up h2 {
  font-size: 48px;
  margin-bottom: 41px;
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .about-up h2 {
    font-size: 40px;
  }
}
@media (max-width: 767.98px) {
  .about-up h2 {
    font-size: 40px;
  }
}
@media (max-width: 575.98px) {
  .about-up h2 {
    font-size: 30px;
  }
}
.about-up p {
  line-height: 28px;
}
@media (min-width: 992px) {
  .about-up p {
    padding-right: 30px;
  }
}
.about-up button {
  border-color: #1f1f1f;
  color: #1f1f1f;
  margin-top: 55px;
}
.about-up button:hover {
  background-color: #1f1f1f;
  color: #fff;
}
.about-up img {
  margin-top: 10px;
  height: 334px;
  cursor: pointer;
}

.about-down {
  color: #fff;
  padding: 129px 0 134px;
  background-color: #202b30;
}
@media (max-width: 1199.98px) {
  .about-down {
    padding: 100px 0;
  }
}
@media (max-width: 991.98px) {
  .about-down {
    padding: 90px 0;
  }
}
@media (max-width: 767.98px) {
  .about-down {
    padding: 80px 0;
  }
}
@media (max-width: 575.98px) {
  .about-down {
    padding: 70px 0;
  }
}
.about-down h2 {
  text-align: right;
  color: #fff;
  font-size: 48px;
  margin-bottom: 43px;
}
@media (max-width: 767.98px) {
  .about-down h2 {
    font-size: 40px;
  }
}
@media (max-width: 575.98px) {
  .about-down h2 {
    font-size: 30px;
  }
}
.about-down p {
  text-align: right;
}
@media (max-width: 1199.98px) {
  .about-down p {
    padding-top: 11px;
  }
}
@media (min-width: 992px) {
  .about-down p {
    padding-left: 40px;
  }
}
@media (min-width: 1300px) {
  .about-down .icons .row > div {
    padding-right: 0;
    margin-right: 68px;
    max-width: 245px;
  }
}
@media (max-width: 575.98px) {
  .about-down .icons .row > div:nth-child(1) img {
    margin-bottom: 105px;
  }
}
.about-down .icons .row > div:nth-child(1), .about-down .icons .row > div:nth-child(2) {
  padding-top: 11px;
}
.about-down .icons .row > div:nth-child(2) {
  margin-top: -30px;
}
.about-down .icons .row > div:nth-child(3) img {
  margin-top: 75px;
}
.about-down .icons .row > div:nth-child(4) img {
  margin-top: 105px;
}

.feat {
  background-color: #f8f8f8;
}
@media (min-width: 1200px) {
  .feat .container {
    max-width: 1366px;
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .feat .row.no-gutters .pic {
    height: 742px;
  }
}
.feat .row.no-gutters .pic img {
  height: 100%;
}
.feat .row.no-gutters > div:first-of-type {
  padding-top: 130px;
  padding-left: 33px;
}
@media (max-width: 1199.98px) {
  .feat .row.no-gutters > div:first-of-type {
    padding: 100px 0 20px;
  }
}
@media (max-width: 991.98px) {
  .feat .row.no-gutters > div:first-of-type {
    padding: 90px 0 20px;
  }
}
@media (max-width: 767.98px) {
  .feat .row.no-gutters > div:first-of-type {
    padding: 80px 0 20px;
  }
}
@media (max-width: 575.98px) {
  .feat .row.no-gutters > div:first-of-type {
    padding: 70px 0 20px;
  }
}
.feat .row.no-gutters .fi h2 {
  font-size: 48px;
  margin-bottom: 40px;
}
@media (max-width: 767.98px) {
  .feat .row.no-gutters .fi h2 {
    font-size: 40px;
  }
}
@media (max-width: 575.98px) {
  .feat .row.no-gutters .fi h2 {
    font-size: 30px;
  }
}
.feat .row.no-gutters .fi p {
  margin-bottom: 47px;
  line-height: 28px;
  color: #838383;
}
@media (min-width: 992px) {
  .feat .row.no-gutters .fi p {
    padding-right: 41px;
  }
}
.feat .sec h3 {
  font-family: "Source Sans Pro Regular";
  font-size: 20px;
  margin-bottom: 17px;
  margin-top: 14px;
}
.feat .sec p {
  color: #838383;
  line-height: 28px;
}
@media (min-width: 992px) {
  .feat .sec p {
    padding-right: 24px;
  }
}

.contact {
  padding: 153px 0 140px;
}
@media (max-width: 1199.98px) {
  .contact {
    padding: 100px 0;
  }
}
@media (max-width: 991.98px) {
  .contact {
    padding: 90px 0;
  }
}
@media (max-width: 767.98px) {
  .contact {
    padding: 80px 0;
  }
}
@media (max-width: 575.98px) {
  .contact {
    padding: 70px 0;
  }
}
.contact .on {
  padding-right: 0;
}
@media (min-width: 1360px) {
  .contact .on {
    -ms-flex: 0 0 552px;
    flex: 0 0 552px;
    max-width: 552px;
  }
}
.contact .on h2 {
  color: #1f1f1f;
  font-size: 60px;
  margin-bottom: 39px;
}
@media (max-width: 991.98px) {
  .contact .on h2 {
    font-size: 50px;
  }
}
@media (max-width: 767.98px) {
  .contact .on h2 {
    font-size: 40px;
  }
}
@media (max-width: 575.98px) {
  .contact .on h2 {
    font-size: 30px;
  }
}
@media (min-width: 1200px) {
  .contact .on h2 {
    margin-top: -27px;
  }
}
.contact .on p:first-of-type {
  margin-bottom: 28px;
}
.contact .on p {
  color: #838383;
  line-height: 28px;
}
@media (min-width: 1200px) {
  .contact .on p {
    padding-left: 60px;
  }
}
@media (max-width: 1199.98px) {
  .contact .on p {
    padding: 0 6%;
  }
}
.contact .tw {
  padding-left: 0;
}
@media (min-width: 1200px) {
  .contact .tw {
    -ms-flex: 0 0 748px;
    flex: 0 0 748px;
    max-width: 748px;
  }
}
@media (min-width: 1200px) {
  .contact .tw form {
    width: 640px;
  }
}
.contact .tw form .form-control {
  height: 50px;
  border-radius: 0;
  border: 1px solid black;
  margin-bottom: 20px;
  padding-left: 21px;
  color: #000 !important;
}
.contact .tw form textarea.form-control {
  height: 270px;
  padding-top: 15px;
}
.contact .tw form select.form-control {
  padding-left: 18px;
  font-weight: 300;
}
@media (min-width: 576px) {
  .contact .tw form .r {
    padding-left: 0;
  }
}
@media (min-width: 1200px) {
  .contact .tw form .r {
    max-width: 325px;
  }
}
.contact .tw form .r input {
  width: 100%;
}
@media (min-width: 576px) {
  .contact .tw form .l {
    padding-right: 0;
  }
}
@media (min-width: 1200px) {
  .contact .tw form .l {
    margin-right: 20px;
  }
}
@media (min-width: 1200px) {
  .contact .tw form .l {
    max-width: 325px;
  }
}
.contact .tw form .l input {
  width: 100%;
}
@media (min-width: 576px) and (max-width: 1199.98px) {
  .contact .tw form .l input {
    width: 95%;
  }
}
.contact button {
  margin-top: 20px;
  background-color: #fb414e;
  color: #fff;
  height: 50px;
  border-radius: 0;
}
.contact ::placeholder {
  color: #000 !important;
}

.footer {
  padding: 40px 0;
  background-color: #202b30;
}
@media (max-width: 1199.98px) {
  .footer {
    padding: 50px 0;
  }
}
@media (max-width: 767.98px) {
  .footer {
    padding: 40px 0;
  }
}
@media (max-width: 575.98px) {
  .footer {
    padding: 30px 0;
  }
}
@media (min-width: 1200px) {
  .footer {
    height: 500px;
  }
}
.footer .container {
  position: relative;
}
.footer .container .row.o {
  padding-top: 190px;
  color: #fff;
}
@media (max-width: 991.98px) {
  .footer .container .row.o {
    padding-top: 210px;
  }
}
@media (max-width: 767.98px) {
  .footer .container .row.o {
    padding-top: 160px;
  }
}
@media (max-width: 575.98px) {
  .footer .container .row.o {
    padding-top: 150px;
  }
}
.footer .container .row.o h4 {
  color: #fff;
  font-family: "Roboto Medium";
  font-size: 16px;
  margin-bottom: 22px;
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .footer .container .row.o h4 {
    margin-top: 50px;
  }
}
.footer .container .row.o p {
  line-height: 28px;
}
.footer .container .row.o .ri h4 {
  margin-bottom: 29px;
}
.footer .container .row.o .ri form {
  margin-left: auto;
  overflow: hidden;
}
@media (min-width: 1200px) {
  .footer .container .row.o .ri form {
    width: 640px;
  }
}
.footer .container .row.o .ri form input {
  height: 45px;
  border-radius: 0;
  border: 0;
  padding-left: 18px;
}
@media (min-width: 1200px) {
  .footer .container .row.o .ri form input {
    width: 507px;
    float: left;
  }
}
.footer .container .row.o .ri form button {
  width: 133px;
  height: 45px;
  border-radius: 0;
  background-color: #fb414e;
  color: #fff;
  border: 0;
  font-family: "Roboto Regular";
}
@media (min-width: 1200px) {
  .footer .container .row.o .ri form button {
    float: left;
  }
}
.footer .container .row.o .ri form ::placeholder {
  color: #848484 !important;
}
.footer .container .copyRights {
  margin-top: 73px;
}
.footer .container .copyRights span {
  font-size: 14px;
  font-family: "Roboto Light";
  color: #586165;
}

/*# sourceMappingURL=main.css.map */
